<div class="card">
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <div>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae iste molestiae dolorum quod laboriosam, reiciendis fugiat ad, hic asperiores deserunt neque tempora ipsa reprehenderit labore suscipit, deleniti soluta commodi molestias!
                <div class="mt-2">
                    <div style="display: inline;" class="mr-auto">
                        <small>7 minutes ago</small>
                    </div>
                    <div style="display: inline;" class="float-right">
                        <small>- aj</small>
                    </div>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magnam natus blanditiis quidem fugiat rerum deleniti quaerat mollitia a, laboriosam assumenda repellat quibusdam quia voluptatum pariatur debitis quas, laudantium, quos hic!
                <div class="mt-2">
                    <div style="display: inline;" class="mr-auto">
                        <small>7 minutes ago</small>
                    </div>
                    <div style="display: inline;" class="float-right">
                        <small>- aj</small>
                    </div>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis dignissimos aliquid repellendus maxime accusamus laboriosam facilis veniam laudantium, doloribus, expedita accusantium in consequuntur nemo, libero ad cupiditate error illum soluta!
                <div class="mt-2">
                    <div style="display: inline;" class="mr-auto">
                        <small>7 minutes ago</small>
                    </div>
                    <div style="display: inline;" class="float-right">
                        <small>- aj</small>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>
<!-- <div>
    <div class="card">
        <div class="card-body">
            <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Culpa fuga omnis vitae molestias. Deleniti ratione ad reiciendis enim ipsum possimus officiis sapiente. Dicta repellendus, dolore saepe ipsam ducimus minus autem?</p>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Culpa fuga omnis vitae molestias. Deleniti ratione ad reiciendis enim ipsum possimus officiis sapiente. Dicta repellendus, dolore saepe ipsam ducimus minus autem?</p>
        </div>
    </div> 
    <div class="card">
        <div class="card-body">
            <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Culpa fuga omnis vitae molestias. Deleniti ratione ad reiciendis enim ipsum possimus officiis sapiente. Dicta repellendus, dolore saepe ipsam ducimus minus autem?</p>
        </div>
    </div>
</div> -->